---
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout metaTitle="About informed/citizen">

  <Header title="About informed/citizen" />

  <p class="fs2">
    Too many people today live in a <strong>political echo chamber</strong>. <br />
  </p>

  <p class="fs2">
    Too few people seek to understand <strong>alternative viewpoints</strong>. <br />
  </p>

  <p>
    The ultimate goal of informed/citizen is to help people learn the essentials of political ideologies and concepts - without bias or spin.
  </p>

</BaseLayout>

<style>
  
.article-wrapper {
  display : grid;
  gap : 1.3rem;
}
  
</style>