---
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout metaTitle="Contact informed/citizen">

  <Header title="Contact informed/citizen" />

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum veritatis fugit aperiam ex alias? Exercitationem pariatur nemo ab illum cumque.
  </p>

</BaseLayout>

<style>
  
.article-wrapper {
  display : grid;
  gap : 1.3rem;
}
  
</style>