---
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const trendingArticlesTitles= [
  'Critical Race Theory',
  'What is Politics?',
  'Make America Great Again',
  'Black Lives Matter',
]

const articles = await Astro.glob('../articles/*.md')

const trendingArticles = articles.filter( article =>{
  return trendingArticlesTitles.includes(article.frontmatter.title)
})
console.log(trendingArticles)

---

<BaseLayout 
	metaTitle="Trending: informed/citizen - Politics"
	metaDescription="See trending articles about the different political ideologies that shape our world and make informed decisions as a citizen. Explore Informed Citizen's comprehensive resources and articles on liberalism, conservatism, socialism, and more."
	metaKeywords="Political ideologies,	Liberalism,	Conservatism,	Socialism, Anarchism,	Marxism,	Capitalism, Democracy, Authoritarianism,	Pluralism,	Totalitarianism,	Ideology"
>

  <Header title="Trending Articles" />

  <p>
    Here are topics that people are talking about:
  </p>

  <div class="article-wrapper mb2">
    {
    trendingArticles.map( article => (
      <Card
        title={article.frontmatter.title}
        content={article.frontmatter.excerpt}
        link={`/politics/${article.frontmatter.uri}`}
        tags={article.frontmatter.tags}
      />
    ))
    }
  </div>

</BaseLayout>

<style>
  
.article-wrapper {
  display : grid;
  gap : 1.3rem;
}
  
</style>