---

const { title, content, link, tags = [] } = await Astro.props
---

<article class="card">
  
  <h3>{title}</h3>

  {
  tags &&
    <div class="tags">
      { tags.map( (tag: string) => <a href={`/tag/${tag}`}>#{tag}</a> )}
    </div>
  }

  <p>
    {content}
  </p>

  <a href={ link } class="read-more-link">
    Read More
    <svg width="19" height="13" viewBox="0 0 19 13" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.6108 12.2977C11.3796 12.0744 11.2687 11.8046 11.2779 11.4884C11.288 11.1721 11.4085 10.9023 11.6397 10.6791L14.9045 7.52557H2.01849C1.69104 7.52557 1.41637 7.41841 1.19448 7.20408C0.973355 6.9905 0.862793 6.72557 0.862793 6.40929C0.862793 6.09301 0.973355 5.82771 1.19448 5.61338C1.41637 5.3998 1.69104 5.29301 2.01849 5.29301H14.9045L11.6108 2.11162C11.3796 1.88836 11.2641 1.62306 11.2641 1.31571C11.2641 1.0091 11.3796 0.744174 11.6108 0.520919C11.8419 0.297663 12.1166 0.186035 12.4348 0.186035C12.7522 0.186035 13.0265 0.297663 13.2577 0.520919L18.545 5.6279C18.6605 5.73952 18.7426 5.86045 18.7911 5.99069C18.8389 6.12092 18.8628 6.26045 18.8628 6.40929C18.8628 6.55813 18.8389 6.69766 18.7911 6.8279C18.7426 6.95813 18.6605 7.07906 18.545 7.19069L13.2288 12.3256C13.0169 12.5302 12.7522 12.6325 12.4348 12.6325C12.1166 12.6325 11.8419 12.5209 11.6108 12.2977V12.2977Z" fill="#6ACEC6"/>
    </svg>
      
  </a>

</article>

<style>

.card {
  padding : 0 2vw 2rem 2vw; 
  background: #fff;
  border : 1px solid hsl( var(--clr-primary-3), 0.6 );
  border-radius: 8px;
  box-shadow: 5px 5px 10px hsl( var(--clr-primary-2), 0.5 );
}

.card:nth-child(4),
.card:nth-child(5),
.card:nth-child(6) {
  display : none;
}

@media screen and (min-width : 850px) {
  .card:nth-child(4) {
    display : block;
  }
}

@media screen and (min-width : 1200px) {
  .card:nth-child(5),
  .card:nth-child(6) {
    display : block;
  }
}

.card h3 {
  position: relative;
}

.card h3::before {
  content: '';
  position : absolute;
  bottom: -10px;
  left : 0;
  width :75px;
  border-bottom : 1px solid #999;
}

.tags {
  display : flex;
  flex-wrap: wrap;
  column-gap : 0.7rem;
}

.tags a {
  color : #aaa;
  color : hsl( var(--clr-primary-4) );
}

.tags a:hover {
  text-decoration: underline;
}

.read-more-link {
  display : flex;
  align-items: center;
  gap : 0.5rem;
  width : fit-content;
  margin-left : 7px;
  outline : 1px solid hsl( var(--clr-primary-2) );
  outline-offset: 10px;
}

.read-more-link:hover {
  outline : 1px solid hsl( var(--clr-primary-4) );
}

</style>