---
import Logo from "./Logo.astro";


---
<footer>
  <Logo />

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>

  <div>
    &copy; Copyright 2022 informed-citizen.net
  </div>

</footer>

<style>

footer {
  display : grid;
  gap : 3rem;
  justify-content: center;
  padding-block : 2rem;
  background-color : hsl( var(--clr-primary-7) );
  background-image: url(/assets/img/stacks.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color : #eee;
}

nav ul {
  display :flex;
  flex-direction: column;
  align-items: center;
  gap : 1rem;
}

nav a {
  color : #eee;
}

</style>