---
import Logo from "./Logo.astro";
import Card from "./Card.astro";
import MobileBtn from "./MobileBtn.astro";

const pages = await Astro.glob('../articles/featured-*.md')

---

<section class="hero">

  <div class="logo-wrapper">
    <Logo />
    <MobileBtn />
  </div>

  <div class="hero-intro">
    <h1>
      Unlock your <span>next level</span> of political knowledge
    </h1>

    <p>
      Too many people today have strong opinions on politics without a basic understanding of various viewpoints. Learn the essentials of political ideologies and concepts - without bias or spin.
    </p>
  </div>

  <div class="hero-grid">

    {
    pages.map( page => (
      <Card
        title={ page.frontmatter.title }
        content={ page.frontmatter.excerpt }
        link={`/politics/${page.frontmatter.uri}`}
      />
    ))
    }

  </div>

</section>

<style>

.hero {
  order : 1;
}

.logo-wrapper {
  display : flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.hero-intro {
  padding : 1rem 2vw;
  background-image: url('/assets/img/hero.png');
  background-size: cover;
  background-position: center;
}

.hero-intro h1 span {
  color : hsl( var(--clr-primary-5) );
}

.hero-intro p {
  font-size: var(--font-size-2);
}

.hero-grid {
  transform: translateY(-1.3rem);
  margin-inline : calc( var(--spacing-x-default) + 5px);
  display : grid;
  gap : 1.3rem;
}

@media screen and (min-width : 850px) {
  .hero-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

</style>