---
import Logo from "./Logo.astro";
import Card from "./Card.astro";
import MobileBtn from "./MobileBtn.astro";

const pages = await Astro.glob('../articles/featured-*.md')

---

<section class="hero">

  <div class="logo-wrapper">
    <Logo />
    <MobileBtn />
  </div>

  <div class="hero-intro">
    <h1>
      Unlock your <span>next level</span> of political knowledge
    </h1>

    <p>
      Too many people today live in a <strong>political echo chamber.</strong>. <br />
      Too few people seek to understand <strong>alternative viewpoints</strong>. <br />
      Learn the essentials of political ideologies and concepts - without bias or spin.
    </p>
  </div>

  <div class="hero-grid">

    {
    pages.map( page => (
      <Card
        title={ page.frontmatter.title }
        content={ page.frontmatter.excerpt }
        link={`/politics/${page.frontmatter.uri}`}
      />
    ))
    }

  </div>

</section>

<style>

.hero {
  order : 1;
  background-color: hsl( var(--clr-primary-1), 0.3 );
}

.logo-wrapper {
  display : flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.hero-intro {
  position: relative;
  padding : 2rem 2vw 4rem 2vw;
  background-image: 
    url('/assets/img/hero.png'),
    url(/assets/img/article-heading.svg);
  background-size: cover;
  background-position: center top, center bottom;
  background-blend-mode:hard-light;
  border-radius: 1rem;
  color : hsl( var(--clr-primary-2) );
}

.hero-intro h1 span {
  color : hsl( var(--clr-primary-4) );
}

.hero-intro p {
  font-size: var(--font-size-2);
  line-height: var(--font-size-5);
}

.hero-intro strong {
  font-weight: 700;
}

.hero-grid {
  transform: translateY(-2rem);
  margin-inline : calc( var(--spacing-x-default) + 5px);
  display : grid;
  gap : 1.3rem;
}

@media screen and (min-width : 850px) {
  .hero-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

</style>