---
const { link = true, textColor = "#222" } = Astro.props
---

<>
{
  link 
    ? <a href="/" class="logo-link">
        <div class="logo">informed <img src="/assets/img/logo-line.svg" /> citizen</div>
      </a>     
    : <div class="logo">
        informed <img src="/assets/img/logo-line.svg" /> citizen
      </div>
}
</>

<style define:vars={{ textColor }}>

.logo-link {
  color : var(--textColor);
}

.logo-link:hover {
  color : hsl( var(--clr-primary-5) );
}

.logo {
  display : flex;
  align-items: center;
  color : var(--textColor);
  font-family: var(--font-heading);
  font-size: var(--font-size-3);
}

</style>