---
const { activePage, } = Astro.props;

let pages = await Astro.glob('../articles/*.md')
let tags : string[] = []

pages.map( page => {
  page.frontmatter.tags && page.frontmatter.tags.forEach( (tag : string) => {
    tags.push(tag);
  })  
})

const tagsWithCount = tags.reduce( (a, b) => {
  a[b] = (a[b] || 0) +1
	return a
}, {})

let tagsSortedByCount = Object.keys(tagsWithCount).sort(function(a, b) {
  return tagsWithCount[b] - tagsWithCount[a];
});

tagsSortedByCount = tagsSortedByCount.slice(0,15).reverse()

---


<section class="sidebar">

  <nav id="nav">
  
    <ul class="main-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/tag">All Topics</a></li>
      <li><a href="/trending">Trending Articles</a></li>
    </ul>
  

    <div>

      <ul class="topics-nav">
        <li><h3 class="m0">Trending Topics</h3></li>
        {
        tagsSortedByCount.map( tag => (
          <li>
            <a href={`/tag/${tag}`}>#{tag}</a>
          </li>
        ))
        }
      </ul>

      <div class="search">
        <form action="/search" method="get">
    
          <label for="q">Search:</label>
    
          <div class="search-bar mt1">
            <input type="search" name="q" id="q" />
            <button type="submit">
              <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.0231 0C9.68631 0 3.7318 5.95451 3.7318 13.2913C3.7318 20.6281 9.68631 26.5827 17.0231 26.5827C24.3599 26.5827 30.3145 20.6281 30.3145 13.2913C30.3145 5.95451 24.3599 0 17.0231 0ZM17.0231 23.629C11.3123 23.629 6.68543 19.0022 6.68543 13.2913C6.68543 7.57901 11.3123 2.95363 17.0231 2.95363C22.7354 2.95363 27.3608 7.57901 27.3608 13.2913C27.3608 19.0022 22.7354 23.629 17.0231 23.629ZM4.49236 23.7339L0.314454 27.9103L2.40414 30L6.58058 25.8221L4.49236 23.7339V23.7339Z" fill="black"/>
              </svg>
            </button>
          </div>
    
        </form>
      </div>
    </div>

    


  </nav>

</section>


<style>

.sidebar {
  display : none;

  position: fixed;
  inset : 0;
  z-index : 500;

  background-color: hsl( var(--clr-primary-7) );
  background-image: url(/assets/img/stacks.svg);
  background-size : cover;
  color : hsl( var(--clr-primary-2) );
}  

@media screen and (min-width : 850px) {
  .sidebar {
    display : block;
    position: static;
    order : 2;
    padding-block : 2rem;
  }
}

.sidebar nav {
  height : 100%;
  display : grid;
  place-items: center;
}

@media screen and (min-width : 850px) {
  .sidebar nav {
    display : flex;
    flex-direction: column;
    gap : 15rem;
    padding-inline : 1.5rem;
  }
}

.main-nav {
  display : flex;
  flex-direction: column;
  align-items: center;
  gap : 2rem;
  font-size : var(--font-size-3);
}

@media screen and (min-width : 850px) {
  .main-nav {
    margin-top : 3rem;
    align-items: start;
    width : 100%;
    font-size : var(--font-size-2);
  }
}


.topics-nav {
  display : flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size : var(--font-size-2);
}

.topics-nav li {
  width : fit-content
}

@media screen and (min-width : 850px) {
  .topics-nav {
    width : 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    font-size : var(--font-size-1);
  }

  .topics-nav li {
    width : 100%;
  }
}

a {
  color : #ccc;
}

.more-topics-btn {
  display : inline-block;
  padding : 0.3rem 1rem;
  border : 1px solid #ccc;
}


.search {
  color : #fff;
  margin : 1rem 3vw;
}

@media screen and (min-width : 850px) {
  .search {
    margin : 2rem 0;
  }
}

.search-bar {
  display :flex;
  align-items: center;
  gap : 1rem;
  padding : 0.5rem 1rem;
  background-color: hsla(0, 0%, 100%, 0.9);
  background-color: hsl( var(--clr-primary-6), 0.5 );
  border-radius: 5px;
  color : hsl( var(--clr-primary-6) );
}

.search-bar:hover {
  background-color: hsl( var(--clr-primary-5) );
}

.search-bar:has( > input[type=search]:focus) {
  background-color: hsl( var(--clr-primary-4) );
  border-color: hsl( var(--clr-primary-6) );
}

.search-bar input[type=search] {
  width : 100%;
  border : 0;
  outline : 0;
  background : none;
}

.search-bar path {
  fill : hsl( var(--clr-primary-6) );
}

</style>
      


<style is:global>



.mobile-menu-is-open .sidebar {
  display : block;
}

</style>



