---
import Logo from "./Logo.astro";
import MobileBtn from "./MobileBtn.astro";
const { activePage, } = Astro.props;


---



<nav>

  <ul class="main-nav">
    <li><a href="#">Home</a></li>
    <li><a href="#">Topics</a></li>
    <li><a href="#">Popular</a></li>
  </ul><!-- .main-nav -->

</nav>


      

<style>

nav {
  display : none;
}  

</style>



