---
import Header from "../../components/Header.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPages = await Astro.glob('../../articles/*.md')
let allTags = new Set()

allPages.map( page => {
  page.frontmatter.tags && page.frontmatter.tags.map( tag => {
    return allTags.add(tag)
  })  
})

let allTagsArray = Array.from(allTags).sort()

---

<BaseLayout 
	metaTitle="Topics: informed/citizen - Political ideologies, different viewpoints and perspectives"
	metaDescription="Stay informed about the different political topics that shape our world and make informed decisions as a citizen. Explore Informed Citizen's comprehensive resources and articles on liberalism, conservatism, socialism, and more."
	metaKeywords="Political ideologies,	Liberalism,	Conservatism,	Socialism, Anarchism,	Marxism,	Capitalism, Democracy, Authoritarianism,	Pluralism,	Totalitarianism,	Ideology"
>

  <Header 
    title="All Topics"
  />

  <p>
    All topics:
  </p>

  <ul class="mb3">
  {
  allTagsArray.map( tag => (
    <li>
      <a href={`/tag/${tag}`}>{tag}</a>
    </li>
  ))
  }

  </ul>

</BaseLayout>

<style>
  
  @media screen and (min-width : 850px) {
    ul {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }
  }

  li {
    margin-block : 0.4rem;
  }

  a {
    color : #333;
  }
  
</style>